<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  {% block content %}
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat adipisci eaque, cupiditate doloremque commodi

  sint eum architecto, porro quam velit, illo blanditiis odio officiis fuga totam asperiores? Quis, sapiente dolorum.
  <br>
  <img src="{% static 'img/home.png' %}" alt="image" srcset="" width="100">
  <hr>
  <form method="post">
    <h1>forms</h1>
    {% csrf_token %}
    {{A.as_p}}
    <input type="submit" value="OK">
  </form>
  <hr>
  <form method="post">
    <h1> model_form</h1>
    {% csrf_token %}
    {{ model_form.as_p}}
    <input type="submit" value="submit">
  </form>
  <hr>
 
  <br>
  <h1>single data show</h1>
  {% if data %}
  {% for 1_data in data %}
  <h3>{{1_data.No}}</h3>
  <h3>{{1_data.Name}}</h3>
  <h3>{{1_data.Address}}</h3>
  <img src="{{1_data.Image}}" alt="img" srcset="">
  <h3>
    link: <a href="{{1_data.Links}}" target="_blank">github</a></h3>
  <h3>{{1_data.Salary}}</h3>
  {% endfor %}
  {% else %}
  <h3> nodata</h3>
  {% endif %}

  {% endblock content %}
  <script src="{% static 'jsfile/index.js' %}"></script>
</body>

</html>